.bannerWrapper {
  height: 621px;
}
.bannerService {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.titleDescription {
  grid-column: 1 / 2;
  margin: 163px 128px 0px 0px !important;
}

.bannerMiddlePhoto img {
  height: 708px;
  width: 708px;
  object-fit: cover;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

@media (max-width: 430px) {
  .bannerWrapper {
    height: auto;
  }

  .titleDescription {
    grid-column: 1 / 2;
    margin: 32px 0px !important;

    h5 {
      padding-bottom: 0;
    }
  }
  .bannerMiddlePhoto img {
    height: 275px;
  }
}
