@import "../style.css";

h1 {
  font-family: "Roboto Serif";
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  display: flex;
  margin-bottom: 40px;
  text-transform: math-auto;
}

h3 {
  color: var(--green-100);
  font-family: "Roboto Serif" serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-transform: math-auto;
}

h4 {
  color: var(--green-100);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  /* font-weight: 500; */
  font-weight: bold;

  line-height: normal;
  letter-spacing: normal;
}

h5 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

p {
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.container {
  flex-direction: column;
  width: 100vw;
}
.sub-title {
  margin-top: 24px;
}
.left-title {
  text-align: left;
  font-weight: bold;
  text-transform: math-auto !important;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 115px 0;
  width: 100vw;

  .images-container {
    display: flex;
    width: 50%;
  }

  .we-are-letih-beauty {
    display: flex;
    flex-direction: column;
    margin: calc(115px / 2);
    width: 40%;

    .mission-vision {
      margin-top: 63px;
    }
    h3 {
      letter-spacing: 4px;
      font-style: italic;
      font-size: 25px;
    }
    h4 {
      font-weight: 500;
    }
  }
}

.our-values {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100vw;
  padding: 100px 0;

  .our-values-content {
    margin-right: 140px;
    margin-left: 128px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: calc(115px / 2); */
  }
  h4 {
    font-weight: 500;
  }

  .images-container {
    display: flex;
    width: 50%;
  }
}

.behind-scenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px auto 0;
  max-width: 1500px;

  .image-letih {
    display: flex;
    width: 576px;
    height: 516px;
    animation: fadeIn 2s forwards;
  }

  .behind-scenes-content {
    display: flex;
    flex-direction: column;
    margin: 370px 129px 120px;
  }
  h4 {
    font-weight: 500;
  }

  .btn-book {
    align-self: center;
    margin-top: 60px;
  }
}

.green-box {
  position: absolute;
  opacity: 0; /* Inicia invisível */
  animation: fadeIn 2s forwards;
}
.green-box-1 {
  top: 200px;
  left: 128px;
  animation-delay: 0.5s;
}

.green-box-2 {
  top: 487px;
  left: 336px;
  animation-delay: 0.5s;
}

.green-box-3 {
  margin-top: calc(-100px / 2);
  right: calc(570px / 2);
  animation-delay: 0.5s;
}

.green-box-4 {
  right: calc(140px / 2);
  margin-top: 232px;
  animation-delay: 0.5s;
}

.green-box-5 {
  align-self: center;
  position: relative;
  margin-top: 344px;
  margin-left: 156px;
  z-index: 0;
  animation-delay: 0.5s;
}

.women-image {
  position: absolute;
  z-index: 1; /* Imagem por cima dos quadros */
  width: 461px;
  height: 528px;
  opacity: 0; /* Começa invisível */
  animation: fadeInImage 2s forwards 1.5s;
  border-radius: 6px;
}

.women-top {
  left: 191px;
  top: 263px;
}

.women-middle {
  margin-right: calc(80px / 2);
}

.women-bottom-one {
  position: absolute;
  margin-left: -160px;
  z-index: 1;
  animation: fadeInImage 2s forwards 1.5s;
}

.women-bottom-two {
  position: absolute;
  margin-left: 267px;
  margin-top: 330px;
  z-index: 2;
  animation: fadeInImage 2s forwards 1.5s;
}

.bottom-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  max-width: 100%;
  gap: 55px;
  margin-bottom: 60px;
  overflow: hidden;
}
.bottom-images img {
  width: 100%;
  max-width: 570px;
  height: 480px;
  object-fit: cover;
}
.bottom-images img:nth-child(2) {
  margin-left: 0;
  margin-right: 0;
}
.bottomLineGreen {
  background-color: var(--green-100);
  height: 15px;
  width: 100%;
  margin-top: -60px;
}
.bottomLineWhite {
  background-color: white;
  margin-top: 120px;
}

/* Animação de fade in para os quadros verdes */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Animação de fade in para a imagem */
@keyframes fadeInImage {
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 431px) {
  body,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .container {
    overflow-x: hidden;
    align-items: center;
    margin: 0;

    .h2-title {
      font-size: 28px;
    }

    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px 0 30px 0px;

      img {
        width: 358px;
        height: 395px;
      }

      .we-are-letih-beauty {
        width: 50%;
        margin: 20px 16px;
        align-items: center;

        h1 {
          margin: 20px 16px;
          font-size: 28px;
        }
        h3 {
          margin: 0px;
          margin-left: 70px;
          font-size: 18px;
          letter-spacing: 1px;
        }
      }
    }
    .mission-vision {
      width: 358px;
      margin: 20px 16px 0px 16px !important;
    }
    .behind-scenes {
      margin: 40px 0px 0px 0px;
      align-items: center;

      .image-letih {
        width: 358px;
        height: 362px;
      }

      .behind-scenes-content {
        width: 350px;
        margin: 40px 16px;
      }
    }

    .our-values {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;

      .our-values-content {
        width: 350px;
        margin: 40px 16px;
      }

      img {
        width: 358px;
        height: 395px;
      }
    }

    .bottom-images {
      display: none;
    }
  }
  .bottomLineGreen {
    display: none;
  }
  .bottomLineWhite {
    display: none;
  }
}
